.main {
  height: 100vh;
  // background-color: #f0f0f0;
  background-color: #fff;

  .mask,
  .body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #010101;
    font-size: 40px;
    line-height: 50px;
    cursor: default;

    p {
      width: 1000px;
      padding: 40px;
    }
    span {
      color: #fff;
    }
  }

  .mask {
    // mask-image: url("../../../../public/mask.svg");
    mask-image: url("../../../../public/mask-2.svg");
    mask-repeat: no-repeat;
    mask-size: 40px;
    background: #010101;
    position: absolute;
    color: #a5925f;
  }
}
